body {
    font-family: Arial, serif;
}

header {
    padding-top: 20px;
    background-color: darkslategrey;
}

header h1, h2 {
    padding-left: 30px;
    color: white;
}

header h2 {
    padding-bottom: 10px;
}

nav ul {
    width: auto;
    height: 30px;

    padding: 0;

    margin: 0;
}

nav ul li {
    float: left;

    height: inherit;

    list-style: none;
}

nav ul li a {
    display: block;

    width: 100px;
    height: 30px;

    padding: 5px 0;

    box-sizing: border-box;

    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: aqua;
}

#navContainer {
    width: auto;
    height: auto;

    background-color: aquamarine;
}

.block {
    width: 25%;
    height: 150px;

    margin: 10px;

    background-color: darkslategrey;

    //float:left;
}